<table>
	<tr>
		<td>
			<a class="list-group-item clearfix" style="cursor: pointer;">
				<div class="pull-left">
					<img src="https://code.org/shared/images/social-media/codeorg2019_social.png" alt="Title"
						class="img-responsive" style="max-height: 150px;">
					<h4>Title</h4>
					<p class="list-group-item-text"> 5 hrs</p>
				</div>
			</a>
		</td>
		<td>
			<a class="list-group-item clearfix" style="cursor: pointer;">
				<div class="pull-left">
					<img src="https://code.org/shared/images/social-media/codeorg2019_social.png" alt="Title"
						class="img-responsive" style="max-height: 150px;">
					<h4>Title</h4>
					<p class="list-group-item-text"> 5 hrs</p>
				</div>
			</a>
		</td>
		<td>
			<a class="list-group-item clearfix" style="cursor: pointer;">
				<div class="pull-left">
					<img src="https://code.org/shared/images/social-media/codeorg2019_social.png" alt="Title"
						class="img-responsive" style="max-height: 150px;">
					<h4>Title</h4>
					<p class="list-group-item-text"> 5 hrs</p>
				</div>
			</a>
		</td>
	</tr>
</table>