<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
			<form (ngSubmit)="handleSignup(f)" #f="ngForm">
				<div class="form-group">
					<span class="display-4">Sign Up</span>
				</div>
				<div class="form-group">
					<label for="firstname">First Name</label>
					<input type="text" id="firstname" class="form-control" ngModel name="firstname" required>
				</div>
				<div class="form-group">
					<label for="lastname">Last Name</label>
					<input type="text" id="lastname" class="form-control" ngModel name="lastName" required>
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" id="email" class="form-control" ngModel name="email" required email
						#email="ngModel">
					<span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
				</div>
				<div class="form-group">
					<label for="mobile">Mobile Number</label>
					<input type="number" id="mobile" class="form-control" ngModel name="mobile" required>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" class="form-control" ngModel name="password" required>
				</div>
				<div class="form-group">
					<label for="repassword">Confirm Password</label>
					<input type="password" id="repassword" class="form-control" ngModel name="repassword" required>
				</div>
				<button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
			</form>
		</div>
	</div>
</div>